@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: LEMONMILK;
    src: url(webfonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: openhuninn;
    src: url(webfonts/jf-openhuninn-2.0.ttf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--deep);
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    /* 區塊按鈕 */
    color: var(--deep);
    text-decoration: none;
}

/* 頁首區 */
.topbar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* 預設主軸方向為水平 */
    /* flex-direction: row; row為預設值可省略 */
    justify-content: flex-end;
    /* 主軸(水平)分佈頭尾對齊 */
    padding: 10px 15px;
    z-index: 99;
    font-family: openhuninn, sans-serif;
}

.navigation {
    display: flex;
    flex-direction: column;
    /* 主軸(垂直) */
    align-items: flex-end;
    /* 副軸(水平)齊底(靠右) */
}

.navigation ul {
    display: flex;
}

.menu {
    border: 1px solid transparent;
    border-radius: 99px;
    margin: 10px 0;
    padding: 0 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.menu a {
    /* display: block; */
    margin: 10px;
    /*父元素不固定寬度時，使用固定間距 */
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;
    /* border-top: white 2px solid; */
}

.menu a:hover {
    border-bottom: #333 2px solid;
}

/* <main>主要內容區共用設定 */
section {
    display: flex;
    flex-direction: column;
    /* 主軸(垂直) */
    justify-content: center;
    /* 主軸(垂直)置中 */
    align-items: center;
    /* 副軸(水平)置中 */
    height: 100vh;
}

.title {
    margin-bottom: 30px;
}

.title h2 {
    font-family: LEMONMILK, sans-serif;
    font-size: 3rem;
    border-bottom: var(--deep) 3px solid;
    margin-bottom: 0.5rem;
}

.title h3 {
    font-family: openhuninn, sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

/* 自我介紹區 */

.item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0 100px;
}

#me {
    display: flex;
    background-color: rgb(240, 240, 240);
    flex-direction: row;
    justify-content: center;
}

#me figure {
    height: 50vh;
    width: 50vh;
}

#me img {
    object-fit: cover;
    height: 100%;
}

#me ul {
    margin-top: 20px;
}

#me li {
    padding: 5px;
    letter-spacing: 1px;
}

#me a:hover{
    text-decoration: underline;
    color: blue;
}
